[Unit]
Description=carbon-aggregator instance %i (graphite)
After=network.target

[Service]
User=graphite
Group=graphite
PrivateTmp=yes
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /run/graphite
ExecStartPre=/bin/chown -R graphite:graphite /run/graphite
ExecStartPre=/bin/rm -f /run/graphite/carbon-aggregator-%i.pid
ExecStart=/opt/graphite/bin/carbon-aggregator.py --instance=%i start
Type=forking
PIDFile=/run/graphite/carbon-aggregator-%i.pid
LimitNOFILE=128000

[Install]
WantedBy=multi-user.target
